NODE_ENV=production
PORT=5000

# MongoDB URI (e.g. Atlas)
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/myDatabase?retryWrites=true&w=majority

# JWT Secrets
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret

# Frontend URL (Important for CORS)
CLIENT_URL=https://your-vercel-app.vercel.app

# Cookie Secret
COOKIE_SECRET=your_cookie_secret

# Super Admin auto-promotion email
SUPER_ADMIN_EMAIL=your_email@domain.com
